@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Let's make section style */
.container-of-let-s-make {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #e5547321;
}

.let-s-make-about {
    width: 400px;
}

.let-s-make-main-title {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 800;;
}
.banner-info{
    color: rgba(39, 39, 39, 0.60)
}

.flower-sample-img {
    width: 320px;
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #E55473;
    color: white;
}

/* Our featured section style */

.our-featured {
    margin-top: 80px;
}

.our-featured-title {
    text-align: center;
    font-weight: bold;
}

.our-featured-title h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.our-featured-title p {
    color: rgba(39, 39, 39, 0.60);
}

.container-to-every-featured {
    display: flex;
    justify-content: space-around;
    width: 900px;
    padding: 70px;
    margin-left: 200px;
}

.featured-flower-container {
    width: 180px;
    text-align: center;
}

.featured-flower-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #a721623b;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border: 0;
    height: 260px;
}

.featured-flower-img {
    width: 170px;

}

.pink-tree {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}

.featured-flower-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 30px;
    background-color: #0598a03b;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border: 0;
    height: 230px;

}

.featured-flower-img-2 {
    width: 200px;

}

.featured-flower-3 {
    width: 180px;
    padding: 30px;
    padding-bottom: 0;
    background-color: #477d1163;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border: 0;
    height: 260px;
}
/* hot deals container style*/
.hot-deal-main-con{
    background-color: #e5547313;
    margin-top: 50px;
}
.hot-deal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    padding: 95px;
    margin-left: 250px;
    height: 100px;

}
.hot-deal-about{
   text-align: center;
}
.hot-deal-about h1{
  margin-bottom: 10px;
  font-size: 30px;
}
.hot-deal-about p{
  color: #2727278e;
}
.off{
    color: #E55473;
    font-size: 30px;
}
.hot-deal-img{
    width: 190px;
}



/* instagram section style */
.instagram-main-container{
    margin-top: 30px;
}
.instagram-about{
    text-align: center;
    
}
.instagram-about h1{
   font-size: 30px;
   margin-bottom: 10px;

}
.instagram-about p{
   color: #272727a2;

}
.instagram-hero{
    display: flex;
    justify-content: space-around;
    padding: 90px;
}
.instagram-img{
    width: 190px;
}

/* footer style */

.footer{
    text-align: center;
    background-color: black;
    margin-top: 40px;
    padding: 60px;
    color: white;
}

.footer-p{
    margin-top: 20px;
    margin: 20px;
}

.copy-right{
    color: rgb(155, 156, 156);
    font-size: 12px;
}

